<div>
    <form action="http://localhost:5000/api/v1/catFiles">
        <!--<div><p><button id="catFiles" type="submit" class="btn btn-primary">Dateien verketten</button></p></div>-->
        {{#each data.items}}
        <div class="card bg-light mb-3">
            <div class="card-body">
                <!--<div class="col-sm-2"><input type="checkbox" class="" name="packageFile[]" value="{{marcFile}}"/></div>-->
                <!--<div class="col-sm-10">-->
                <div class="col-8" style="float:left;">
                    <h5 class="card-title">{{sigel}} {{packageMonth}}</h5>
                    <div class="card-text">
                        <p>Originaldatei: {{originalFile}}</p>
                        <p><em>DS in</em> {{recordsIn}}
                            <em>DS out</em> {{recordsOut}}</p>
                        <!--<a href="downloads/{{marcFile}}" class="btn btn-primary">Download</a>
                        <button class="delete-packageFile btn btn-danger" type="button" data-id="{{ _id }}">Löschen</button>-->
                    </div>
                </div>
                <div class="col-4" style="float:right;">
                        <a href="downloads/{{marcFile}}" class="btn btn-primary mb-1">Download</a>
                        <button class="delete-packageFile btn btn-danger" type="button" data-id="{{ _id }}">Löschen</button>
                </div>
            </div>
        </div>
        {{/each}}
    </form>
</div>
