@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.woff2);
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Italic.woff2);
    font-style: italic;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-SemiBold.woff2);
    font-weight: bold;
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-SemiBoldItalic.woff2);
    font-weight: bold;
    font-style: italic;
}

* {
    /* border-radius: 0 !important;*/
    font-family: Montserrat;
    font-size: 14px;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5rem;
}
a, a:link, a:hover, a:visited {
    color: #008198;
}
.navbar a,
.navbar a:link,
.navbar a:hover,
.navbar a:visited {
    color: #ffffff;
}

.btn {
    border-radius: 0;
}

.btn-primary {
    background-color: #008198;
    border-color: #008198;
    color: #ffffff;
}

.btn-danger {
    background-color: #d42066;
}

.input-group-text, select, input {
    border-radius: 0;
}

.page-item.active .page-link {
    background-color: #008198;
}

td.purchaseProposal {
    cursor: pointer;
    white-space: normal !important;
    min-width: 8rem;
}
td.purchaseProposal span.purchaseBtn:after {
    content: url('../images/iconmonstr-plus-4-16.png');
    cursor: pointer;
    padding-right: 8px;
}
td.purchaseProposal.hasPrintRequest span.purchaseBtn:after {
    content: url('../images/iconmonstr-plus-4-16.png') ' P';
    font-weight: 900;
    color: #008198;
    cursor: pointer;
    padding-right: 8px;
}
tr.hasProposal td.purchaseProposal span.purchaseBtn:after {
    content: url('../images/iconmonstr-minus-4-16.png');
}
tr.hasProposal td.purchaseProposal.hasPrintRequest span.purchaseBtn:after {
    content: url('../images/iconmonstr-minus-4-16.png') ' P';
    font-weight: 900;
    color: #008198;
    cursor: pointer;
    padding-right: 8px;
}
tr.hasProposal.table-danger td.purchaseProposal span.purchaseBtn:after {
    content: url('../images/iconmonstr-plus-4-16.png');
}
td.hasPurchaseRequest {
    cursor: default;
}
tr.hasPurchaseRequest td.purchaseProposal span.purchaseBtn:after {
    content: url('../images/iconmonstr-minus-4-16-grey.png');
}
tr.hasPurchaseRequest td.purchaseProposal.printRequest span.purchaseBtn:after {
    content: url('../images/iconmonstr-plus-4-16.png') ' P';
    font-weight: 700;
    color: #008198;
}
td.details-control {
    background: url('../images/iconmonstr-arrow-25-16.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../images/iconmonstr-arrow-65-16.png') no-repeat center center;
}

#tableUsageData tr td {
    white-space: nowrap;
}

#tableAcqRequests td.license {
    padding: 4px .75rem;
}

span.currency,
td.currency {
    text-align: right;
}
span.currency.EUR:after,
td.currency.EUR:after,
th.currency.EUR:after {
    content: ' €';
    font-weight: 600;
    color: #999999;
}
span.currency.GBP:after,
td.currency.GBP:after,
th.currency.GBP:after {
    content: ' £';
    font-weight: 600;
    color: #999999;
}
th.dblrow {
    vertical-align: middle !important;
}

th.dblrow:before,
th.dblrow:after {
    bottom: 2.5em !important;
}

td.usageFlag {
    font-weight: 900;
    color: #008100;
    width: 1rem;
}

#usageData table.dataTable.fixedHeader-floating {
     display: none !important; /* Hide the fixedHeader since we dont need it*/
}
 
 
#usageData .dataTables_scrollHeadInner{
    margin-left: 0px;
    width: 100% !important;
    position: fixed;
    display: block;
    overflow: hidden;
    margin-right: 30px;
    background: white;
    z-index: 1000;
}
 
#usageData .dataTables_scrollBody{
    padding-top: 114px;
}

#usageData .dtsp-searchPane .dataTables_scrollBody {
    padding: 2px;
}

#ref-wuensche.card-columns {
    column-count: 3;
}
div.div-group-striped div:nth-of-type(odd){
    background: white;
}
div.div-group-striped div:nth-of-type(even){
    background: rgba(0,0,0,.05);
}
#ref-wuensche div {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.selector-active {
    font-weight: 700;
    background-color: rgba(0,129,152,0.17) !important;
}

.inactive,
.inactive #usageData .dataTables_scrollHeadInner{
    background-color: rgba(252, 231, 239,1);
}

.hidden {
    display: none;
}

a.btn-primary {
    color: #ffffff;
}
